/* Styling for park search */

.featuresSelection {
    display: flex;
    flex-direction: column;
    height: 175px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    }

.park_button {
    margin-bottom: 10px;
}

.selection {
    margin-right: 20px;
}

.selection input {
    float: left;
}

.park {
    border-top: 1px solid gray;
    margin-top: 10px;
}

/* Styling for art section */

.artResults {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.artResults__button {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    /* justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center; */
    align-self: center;
}

hr {
    width: 100%;
}

/* styling for restaurant results */
