/* page styles */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

.pageHead {
    margin-bottom: 5%;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 3%;
}

h3 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-transform: uppercase;
}

.searchFields {
    background-color: gainsboro;
    padding: 2%;
}

.searchFields button {
    padding: 3px;
    margin-bottom: 1%;
}

.searchBars {
    display: flex;
    flex-direction: column;
}




/* Styling for itinerary */

.itinerary {
    border: 1px solid black;
    margin-top: 3%;
    padding: 1%;
}

.itinerary__table {
    width: 100%;
}

.category {
    width: 30%;
}

.savedInfo {
    width: 70%;
}
/* Styling for park search */

.parks {
    line-height: 1.5em;
    overflow: auto;
}

.parks p {
    margin-bottom: 1%;
}

.featuresSelection {
    display: flex;
    flex-direction: column;
    height: 175px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    }

.park_button {
    margin-bottom: 10px;
}

.selection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.selection input {
    float: left;
}

input {
    float: left;
}

.parks label {
    margin-left: 2px;
}

.park {
    border-top: 1px solid gray;
    margin-top: 10px;
}

.park-save_park{
    background-color: lightblue;
    font-weight: bold;
    border: 1px solid rgb(20, 77, 131);
}






/* Styling for art section */

.artResults {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.artResults__button {
    margin: 20px;
    padding: 1%;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
    text-transform: uppercase;
    
}

.artResults a {
    text-decoration: none;
}

hr {
    width: 100%;
}

.art input {
    width: 150px;
    line-height: 2em;
    margin-right: 1%;
    margin-bottom: 3px;
}







/* Styling for concert section */

.concerts input {
    width: 150px;
    line-height: 2em;
    margin-right: 1%;
    margin-bottom: 3px;
}


/* Styling for restaurant section */

.restaurants input {
    width: 150px;
    line-height: 2em;
    margin-right: 1%;
    margin-bottom: 3px;
}

