/* Styling for park search */

.featuresSelection {
    display: flex;
    flex-direction: column;
    height: 175px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    }

.park_button {
    margin-bottom: 10px;
}

div {
    margin-right: 20px;
}

input {
    float: left;
}


.artResults {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.artResults__button {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
}

hr {
    width: 100%;
}